<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nom d'utilisateur</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Adresse Email</ion-label>
        <ion-input formControlName="mail" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="password" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Enregistrer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>