<ion-header>
  <ion-toolbar>
    <ion-title>Supprimer un utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let user of Users">
      <ion-label>
        <h2>{{user.username}}</h2>
        <h3>{{user.mail}}</h3>
        <h3>{{user.password}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear (click)="removeUser(user)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>